<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <a routerLink="add" class="button">Ajouter</a>
      <button>Supprimer</button>
    </nav>
    <div class="error"></div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">3.99 €</td>
          <td class="qty">45</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">10.00 €</td>
          <td class="qty">3</td>
        </tr>
        <tr>
          <td class="name">Marteau</td>
          <td class="price">4.50 €</td>
          <td class="qty">100</td>
        </tr>
        <tr>
          <td class="name">Pince</td>
          <td class="price">8.50 €</td>
          <td class="qty">23</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
