<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus
    nesciunt suscipit eos, ipsam quia eligendi illo quasi nam eius at maxime,
    rem officia eveniet totam maiores tempore repellendus repudiandae.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, similique
    veritatis. Ab delectus quia rerum quisquam, ipsum laborum quos nemo alias!
    Laboriosam voluptatem officia culpa dolores. Eligendi molestias natus veniam
    mollitia eveniet culpa explicabo atque nesciunt ipsam recusandae sit beatae
    deleniti odit quia numquam sint totam esse repellat, quidem, tempore unde.
    Amet nobis placeat reprehenderit facere ratione dolorum libero fugiat sunt,
    unde facilis veritatis enim. Quos excepturi officia beatae sapiente eius
    tempore molestias facilis inventore dolorem sed, in nisi illum officiis
    minima enim maiores quas iusto! Necessitatibus nemo consequatur nostrum ex
    rem, deleniti tempora delectus, dolorum quaerat, quasi sequi exercitationem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus
    nesciunt suscipit eos, ipsam quia eligendi illo quasi nam eius at maxime,
    rem officia eveniet totam maiores tempore repellendus repudiandae.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, similique
    veritatis. Ab delectus quia rerum quisquam, ipsum laborum quos nemo alias!
    Laboriosam voluptatem officia culpa dolores. Eligendi molestias natus veniam
    mollitia eveniet culpa explicabo atque nesciunt ipsam recusandae sit beatae
    deleniti odit quia numquam sint totam esse repellat, quidem, tempore unde.
    Amet nobis placeat reprehenderit facere ratione dolorum libero fugiat sunt,
    unde facilis veritatis enim. Quos excepturi officia beatae sapiente eius
    tempore molestias facilis inventore dolorem sed, in nisi illum officiis
    minima enim maiores quas iusto! Necessitatibus nemo consequatur nostrum ex
    rem, deleniti tempora delectus, dolorum quaerat, quasi sequi exercitationem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus
    nesciunt suscipit eos, ipsam quia eligendi illo quasi nam eius at maxime,
    rem officia eveniet totam maiores tempore repellendus repudiandae.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, similique
    veritatis. Ab delectus quia rerum quisquam, ipsum laborum quos nemo alias!
    Laboriosam voluptatem officia culpa dolores. Eligendi molestias natus veniam
    mollitia eveniet culpa explicabo atque nesciunt ipsam recusandae sit beatae
    deleniti odit quia numquam sint totam esse repellat, quidem, tempore unde.
    Amet nobis placeat reprehenderit facere ratione dolorum libero fugiat sunt,
    unde facilis veritatis enim. Quos excepturi officia beatae sapiente eius
    tempore molestias facilis inventore dolorem sed, in nisi illum officiis
    minima enim maiores quas iusto! Necessitatibus nemo consequatur nostrum ex
    rem, deleniti tempora delectus, dolorum quaerat, quasi sequi exercitationem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus
    nesciunt suscipit eos, ipsam quia eligendi illo quasi nam eius at maxime,
    rem officia eveniet totam maiores tempore repellendus repudiandae.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, similique
    veritatis. Ab delectus quia rerum quisquam, ipsum laborum quos nemo alias!
    Laboriosam voluptatem officia culpa dolores. Eligendi molestias natus veniam
    mollitia eveniet culpa explicabo atque nesciunt ipsam recusandae sit beatae
    deleniti odit quia numquam sint totam esse repellat, quidem, tempore unde.
    Amet nobis placeat reprehenderit facere ratione dolorum libero fugiat sunt,
    unde facilis veritatis enim. Quos excepturi officia beatae sapiente eius
    tempore molestias facilis inventore dolorem sed, in nisi illum officiis
    minima enim maiores quas iusto! Necessitatibus nemo consequatur nostrum ex
    rem, deleniti tempora delectus, dolorum quaerat, quasi sequi exercitationem.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptatibus
    nesciunt suscipit eos, ipsam quia eligendi illo quasi nam eius at maxime,
    rem officia eveniet totam maiores tempore repellendus repudiandae.
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, similique
    veritatis. Ab delectus quia rerum quisquam, ipsum laborum quos nemo alias!
    Laboriosam voluptatem officia culpa dolores. Eligendi molestias natus veniam
    mollitia eveniet culpa explicabo atque nesciunt ipsam recusandae sit beatae
    deleniti odit quia numquam sint totam esse repellat, quidem, tempore unde.
    Amet nobis placeat reprehenderit facere ratione dolorum libero fugiat sunt,
    unde facilis veritatis enim. Quos excepturi officia beatae sapiente eius
    tempore molestias facilis inventore dolorem sed, in nisi illum officiis
    minima enim maiores quas iusto! Necessitatibus nemo consequatur nostrum ex
    rem, deleniti tempora delectus, dolorum quaerat, quasi sequi exercitationem.
  </p>
</main>
